html {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
}

.logo {
  flex-direction: row;
}
.logo a {
  font-size: 30px;
  justify-content: flex-start;
  margin-left: 80px;
}

.p-professor:hover {
  text-decoration: none;
}

.pg-adm {
  justify-content: flex-end;
  padding-right: 10%;
}

.card-login {
  padding: 30px 0 0 0;
  width: 350px;
  margin: 0 auto;
}

.esqueceu-senha {
  color: #343a40;
}

.sair {
  font-size: 20px;
}

footer { 
  
}

/*Chamada.php*/

#formulario-presenca td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.selecione-turma {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select-turma {
  font-size: 20px;
}

.selecione {
  width: 300px;
}

.form-presenca {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.botao {
  margin-top: 5px;
}

/*************/

.lista {
  list-style-type: none;
  padding-inline-start: 0px;
  border: 2px solid black;
}

.lista a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.lista li {
  padding: 10px;
  background-color: #343a40;
  border-bottom: 2px solid black;
}

#menu{
  display: inline-block;
  border: 2px solid red;
}

#cadastro-form{
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  top: 15px;
  height: 300px;
  width: 500px;
  left: 35%;
  top: 30%;
}

.txt-cad{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}